@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Patrick Hand", sans-serif;
    background: #f5f7ec;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
